@model string
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>


@* @if (Model.ShowRequestId) *@
@* { *@
@*     <p> *@
@*         <strong>Request ID:</strong> <code>@Model.RequestId</code> *@
@*     </p> *@
@* } *@

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<div class="col-md-8">
    <h4 class="contact-title">ERROOOOR</h4>


    <h2>@Model</h2>
</div>

